<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>MovieFlix</title>
</head>
<body>
    <header>
        <h1>MovieFlix</h1>
    </header>
    <nav>
        {{log user}}
    {{#if user}}
        <a href="/api/movies">All Movie Details</a>
        <a href="/api/moviesform">Search Movies</a>
        <a href="/api/findmoviebyid">Find Movie By Id</a> 
        <a href="/api/addmovie">Add Movie</a>
        <a href="/api/update/movies">Update Movie</a>
        <a href="/api/delete/movie">Delete Movie</a>
        <a href="#" onclick="confirmLogout('{{username.username}}')">Hello, {{username.username}}</a>
    {{else}}
        <a href="/api/movies">All Movie Details</a>
        <a href="/api/moviesform">Search Movies</a>
        <a href="/api/findmoviebyid">Find Movie By Id</a> 
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {{/if}}
    </nav>
    <main>
        {{{body}}} <!-- This is where the content of your different routes will be inserted -->
    </main>
    <footer>
        &copy; 2023 MovieFlix
    </footer>
</body>
<script>
function confirmLogout(username) {
    var confirmation = confirm("Are you sure you want to logout, " + username + "?");

    if (confirmation) {
        window.location.href = "/logout";
    } else {
        window.location.href = "/api/movies";
    }
}
</script>
</html>
